.div1 {
    border: 5px;
    border-color: blueviolet;
}
.header {
color: blueviolet;
display: #fff;
}
  .head--first{
      color: brown;
  }  
.div1 {
    background-color: gold;
    padding: 1em;
    margin: auto;
    outline-offset: 5px;
}
.text {
position: absolute;
}
