*{
    box-sizing: border-box;
}
.column{
    float: left;
    width: 50%;
    padding: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

.text{
    text-align: center;
    color: red;
    position: absolute;
}
.div1 {
    border: 5px;
    border-color: blueviolet;
    background-color: gold;
    padding: 1em;
    margin: auto;
    outline-offset: 5px;
}
.header {
color: blueviolet;
display: #fff;
}
.head--first{
    color: brown;
}  

a:hover {
    background-color: blue;
}

@keyframes reset {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade-in {
    0% {opacity: 0;}
    60% {opacity: .5;}
    100% {opacity: 1;}
}
.pan {
    position: sticky;
    display: inline-block;
    height: 50%;
    width: auto;
    animation-name: reset;
    animation-duration: 10s;
    animation-iteration-count: 5;
    animation-delay: 0, 1s;
    }

 pan:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

.dog{
    padding: 50px;
}
@keyframes rest {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade-in {
    0% {opacity: 0;}
    60% {opacity: 0.5;}
    100% {opacity: 1;}
}
.pan {
    display: inline-block;
    height: auto;
    width: 700px;
    animation-name: reset, fade-in;
    animation-duration: 3s;
    animation-iteration-count: 5;
    animation-delay: 0, 1s; 
}
a:hover {
    background-color: blue;}
  
.dog {
    width: 100%; 
    height: auto;
}
.dog{
    width: 100%; 
    height: auto; 
}
.btn{
    display: inline-block;
    color: blue;
}
.btn--first{
    color: chartreuse;
}