.text{
    text-align: center;
    color: red;
}
.div1 {
    border: 5px;
    border-color: blueviolet;
}
.header {
color: blueviolet;
display: #fff;
}
  .head--first{
      color: brown;
  }  
.div1 {
    background-color: gold;
    padding: 1em;
    margin: auto;
    outline-offset: 5px;
}
.text {
position: absolute;
}


.pan {
     border-radius: 50%;
    -webkit-transition: -webkit-transform 1s ease-in-out;
             transition: transform 1s ease-in-out;
}

 pan:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }

.dog{
    padding: 50px;
}

}